/* CSS HEX */


:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;

    --gray-100: #f8f9fa;
    --gray-300: #dee2e6;
    --gray-500: #7b8a8b;
    --gray-700: #343a40;
    --gray-900: #212529;

    --sage-100: #E3E5DCff;
    --sage-200: #D0D4C4ff;
    --sage-300: #BEC2ADff;
    --sage-400: #A2A88Aff;
    --sage-500: #89936Cff;
    --sage-700: #585E45ff;
    --sage-900: #22231Aff;

    --lavender-300: #AB96B0ff;
    --lavender-500: #836889ff;
    --lavender-700: #4e435bff;

    --blue-200: #99D6EBff;
    --blue-300: #33AED7ff;
    --blue-500: #29A3CCff;
    --blue-700: #114355ff;
    --blue-800: #26393Eff;
    --blue-900: #192326ff;

    --theme: var(--gray-100);
    --entry: var(--gray-100);
    --primary: var(--gray-900);
    --secondary: var(--gray-700);
    --tertiary: var(--blue-500);
    --border: var(--gray-700);
    --code-block-bg: var(--gray-900);
    --code-bg: var(--gray-300);
    --border: var(--gray-300);
    --link: var(--blue-500);
    --link-hover: var(--blue-300);
    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: var(--gray-900);
    --entry: var(--gray-700);
    --primary: var(--gray-300);
    --secondary: var(--gray-300);
    --tertiary: var(--blue-500);
    --content: var(--gray-300);
    --code-block-bg: var(--gray-900);
    --code-bg: var(--gray-700);
    --border: var(--gray-900);
    --link: var(--blue-500);
    --link-hover: var(--blue-300);
    color-scheme: dark;
}


.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}
